<!DOCTYPE html>
<html style="font-size: 59.8px;">

<head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport"-->
          <!--content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">-->
    <!--<meta name="screen-orientation" content="portrait">-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="format-detection" content="telephone=no">-->
    <!--<meta http-equiv="cleartype" content="on">-->

    <!--<link rel="stylesheet" href="../css/patient/orderlist.css">-->

    <!--<link rel="stylesheet" href="../css/custom.main.css">-->
    <!--&lt;!&ndash;下面这个放最后&ndash;&gt;-->
    <!--<link rel="stylesheet" href="../css/app.css">-->
    <!--<link rel="stylesheet" href="../css/bootstrap.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/lib/mobileSelect.css">-->
    <!--<link href="../css/lib/jquery.dropdown.css" type="text/css" rel="stylesheet">-->

    <meta charset="UTF-8">
    <link href="../css/custom.plugin.css" rel="stylesheet">
    <link href="../css/custom.main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/lib/mobileSelect.css">
    <link href="../css/lib/jquery.dropdown.css" type="text/css" rel="stylesheet">


    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="../css/patient/orderlist.css">

    <link rel="stylesheet" href="../css/app.css">
    <style>
        .order-confirm-new .case-item{border:none;line-height:50px;background-color:#fff;}
    </style>
</head>


<body id="body" style="">
<div id="app">
    <div class="fullheight">
        <div class="fullheight"><!----> <!----> <!---->
            <div data-title="我的挂号">
                <div>
                    <div class="header"><!----> <a href="javascript:void(0);"
                                                   class="nav-inav typo_white typo_middle iconfont fright"></a>
                        <span class="iconfont typo_white goback"></span>
                        <div class="headname elli">我的订单
                        </div>
                    </div>
                </div>

                <div nav-btn="" class="orderindex" style="">
                    <!--<div style="width: 100%;" class="" role="group" aria-label="">-->
                        <!--<div style="width: 33.3%; float:left" class="btn-group" role="group">-->
                            <!--<button style="width: 100%;" nav-btn="" type="button"-->
                                    <!--class="btn btn-default dropdown-toggle" data-toggle="dropdown"-->
                                    <!--aria-haspopup="true" aria-expanded="false">-->
                                <!--选择家庭成员-->
                                <!--<span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul id="user_list" class="dropdown-menu">-->
                                <!--<li v-for="patient in patients" :value=" patient.id " onclick="refresh(this.value)">-->
                                    <!--{{patient.name}}-->
                                <!--</li>-->
                                <!--&lt;!&ndash;<li><a href="#">Dropdown link</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div style="width: 33.3%; float:left">-->
                            <!--<button style="width: 100%;" nav-btn="" type="button" class="btn btn-default">待就诊</button>-->
                        <!--</div>-->
                        <!--<div style="width: 33.3%; float:left">-->
                            <!--<button style="width: 100%;" nav-btn="" type="button" class="btn btn-default">待评价</button>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="uc-iform-item list_arrow clearfix">
                        <div class="hr2">
                            <!--分割线-->
                        </div>
                        <span class="uc-iform-label typo_dblack block fleft">
                            选择咨询人
                        </span>
                        <div class="nobor typo_dgrey uc-iform-msg textr block fright select ">
                            <div id="patient-trigger" class="select-value fullwidth elli press-has-bgcolor">点击选择</div>
                        </div>
                    </div>

                    <div nav-btn="" class="fullwidth layout boxtop">
                        <div id="orderinfo" class="tab-item fullwidth fl">
                            <ul v-for="item in items" class="orderli layout">
                                <li class="layout">
                                    <div info-1=""
                                         class="pt10 pb10 block bg_white typo_gray typo_small">
                                        <div info-1="" class="pagn pb10 bt_gray clearfix">
                                            <div info-1="" class="fright">{{item.status}}</div>
                                            <div info-1="" class="elli typo_dgray">订单号: {{item.id}}</div>
                                        </div>
                                        <div info-1="" class="layout ordertwo">
                                            <a info-1="" href="https://wap.91160.com/unit/dep.html?unit_id=100001265"
                                               class="fleft elli"><img
                                                    info-1="" src="../img/hospital.png">
                                                南京鼓楼医院
                                            </a> <a info-1=""
                                                    href="https://wap.91160.com/doctor/index.html?unit_id=100001265&amp;dep_id=100102257"
                                                    class="fleft elli"><img info-1="" src="../img/dep.png">
                                            {{item.department}}
                                        </a></div>
                                        <div info-1="" class="mt5 pt8 pagn clearfix"><a info-1=""
                                                                                        href="https://wap.91160.com/vue/account/orderdetail.html?id=203313032&amp;member_order_state=0"
                                                                                        class="block elli">
                                            <div info-1="" class="uc-oitem-thumb fleft"><img info-1=""
                                                                                             src="">
                                            </div>
                                            <div info-1="" class="typo_middle typo_gray elli lh24"><span
                                                    info-1="" class="fleft typo_dgray typo_large elli"
                                                    style="max-width: 4.53333rem;">{{item.doctorname}}</span>&nbsp;
                                            </div>
                                            <div info-1="" class="elli mt5 lh20 c_999 layout"
                                                 style="height: 0.58667rem;"><span info-1=""
                                                                                   class="fleft">{{item.typename}}</span>
                                            </div>
                                        </a></div>
                                        <a info-1=""
                                           href="https://wap.91160.com/vue/account/orderdetail.html?id=203313032&amp;member_order_state=0"
                                           class="block pagn pt10 clearfix">
                                            <div info-1=""
                                                 class="bg_lgray typo_black pt5 pb5 pl10 pr10 typo_small lh22">
                                                <div info-1="" class="elli"><span info-1=""
                                                                                  class="typo_gray inblo uc-oitem-label">就诊人:</span>{{item.username}}
                                                </div>
                                                <div info-1="" class="elli"><span info-1=""
                                                                                  class="typo_gray inblo uc-oitem-label">就诊时间:</span><span
                                                        info-1=""
                                                        class="typo_num">{{item.appointment_date}}</span>
                                                </div>
                                                <div info-1="" class="elli"><span info-1=""
                                                                                  class="typo_gray inblo uc-oitem-label">费用:</span>{{item.price}}元
                                                    &nbsp;<!----></div>
                                            </div>
                                            <div info-1=""
                                                 class="bg_lgray typo_black pt5 pb5 pl10 pr10 typo_small lh24"><span
                                                    info-1=""
                                                    class="typo_gray inblo uc-oitem-label">就诊密码:</span><span
                                                    info-1="" class="fs20 typo_orange">{{item.code}}</span></div>
                                        </a> <!----> <!---->
                                        <div info-1="" class="orderli-btn-a pagn clearfix mt10"><!----> <!---->
                                            <!--<a  info-1="" href="https://wap.91160.com/doctor/sendmind.html?doctor_id=200008614"-->
                                            <!--class="inblo lh26 fright oval typo_green bor_green textc ml5 pl10 pr10">送心意-->
                                            <!--</a>-->

                                        </div>
                                        <div info-1="" class="weui-loading_toast vux-loading"
                                             style="display: none;">
                                            <div class="weui-mask_transparent"></div>
                                            <div class="weui-toast"><i class="weui-loading weui-icon_toast"></i>
                                                <p class="weui-toast__content"></p></div>
                                        </div>
                                    </div>
                                </li>
                            </ul> <!---->

                        </div> <!---->
                    </div>
                    <div data-v-a7f2b8a0="" class="hide textc" style="display: none;"><span
                            data-v-a7f2b8a0="" class="iconfont js_scroll_top "></span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="vux-toast">
        <div class="weui-mask_transparent" style="display: none;"></div>
        <div class="weui-toast weui-toast_text vux-toast-middle" style="width: auto; display: none;"><i
                class="weui-icon-success-no-circle weui-icon_toast" style="display: none;"></i>
            <p class="weui-toast__content" style="padding: 10px;">已经全部加载完</p></div>
    </div>

    <div class="vux-confirm">
        <div class="vux-x-dialog">
            <div class="weui-mask" style="display: none;"></div>
            <div class="weui-dialog" style="display: none;"><!---->
                <div class="weui-dialog__bd">
                    <div></div>
                </div>
                <div class="weui-dialog__ft"><a href="javascript:;"
                                                class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/lib/jquery-3.2.1.min.js"></script>
<script src="../js/lib/jquery.dropdown.js"></script>
<script src="../js/lib/mobileSelect.js"></script>
<script src="../js/lib/vue.js"></script>
<script src="../js/util.js"></script>
<!--<script src="../js/lib/bootstrap.min.js"></script>-->
<script src="../js/patient/orderlist.js"></script>
<script>

</script>
</body>
</html>